@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

body {

	width: 326px;
	margin: 38px;
	font-family: ‘Metrophobic’, Arial, serif; font-weight: 300;

}

.circle {
	padding-right: 20px;

}

.pagination {
	color: #16AB91;
	margin: 0;
	padding: 0;
	
	display: block;
	list-style-type: none;
	margin: auto;

}

.pagination li {
	border: green;
	display: inline;
	padding: 1ex 1em;
	margin-left: 10PX;
}

h1 {
	color: #16AB91;
	padding-top: 13px;
	font-size: 30px;
}

button {
	background-color: #16AB91;
	color: white;
	border-radius: 5px;
	width: 100px;
	height: 50px;
	margin-right: 10px;



}

p {
	display: flex;
	margin: 48px;
}

ol li {
	padding-top: 20px;
}

input {
  margin-top: 43px;
  font-size: 60px;
}

