.nav_bar {
    position: fixed;
    bottom: 0px;

    width: 100%;
    background-color: #16AB91;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */

    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_bar > a {
  display: flex;
  padding-left: 40px;
  padding-right: 23px;
}
